$img_dir: '../img/';
$font-size-def: 10px;
$main-color1: #575757;
$main-color2: #fff;
$main-color3: #000;
$menu-color: #666;
$btn-color: #cd0027;;
$HB: "HelveticaBold";
$HR: "HelveticaRoman";
$HI: "HelveticaItalic";
$AL: "AovelLight";